.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  width: 100%;
}

.primary {
  background-color: var(--text-highlight);
  color: var(--bg-main);
  border: 1px solid var(--text-highlight);
}

.primaryVariant {
  background-color: transparent;
  border: 1px solid var(--text-highlight);
  color: var(--text-highlight);
  padding: 0.6em 1em;
  border-radius: 4px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.95em;

  width: auto; /* Clipa o Sobrescreve o width: 100%*/
  white-space: nowrap;
}

.primaryVariant:hover {
  background-color: var(--text-highlight);
  color: var(--bg-main);
}

.primary:hover {
  background-color: transparent;
  color: var(--text-highlight);
  border-color: var(--text-highlight);
}

.secondary {
  background-color: transparent;
  color: var(--text-highlight);
  border: none;
}

.secondary:hover {
  color: var(--text-gold);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}