@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('../assets/signup_in/background_cadastro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Efeito Parallax */
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(var(--bg-panels-rgb), 0.85);
    backdrop-filter: blur(5px);
    gap: 1.5em;
    padding: 2em;
}

.title-intro {
    color: var(--text-gold);
    font-weight: bold; 
    font-size: 1.5em;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.form-label {
    color: var(--text-gold);
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    margin-bottom: .25em;
    font-size: 18px;
}

.form-control {
    border-radius: 5px;
}

.span-disclaimer {
    color: var(--text-muted);
    font-weight: lighter;
    font-style: italic;
    margin-top: .25em;
    font-size: 14px;
}

.signin-form input {
    background-color: transparent;
    border: 1px solid var(--border-gold);
    color: var(--text-gold);
    height: 30px;
}

.signin-form input::placeholder {
    color: var(--text-muted);
    font-size: 16px;
}
